    p
    {
        margin-top: 20px;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
    }
    .dark-mode
    {
        background-color: black;
        color: white;
    }
    .dark-mode .header
    {
        background-color: black;
        color: white;
    }
    .dark-mode .altdiv
    {
        background-color: rgb(64, 62, 62);
        color: white;
    }
    .dark-mode .yazı1
    {
        color: black;
    }
    .dark-mode #o
    {
        color:blue;
    }
    .dark-mode .ay
    {
        color: black;
        border-radius: 100%;
        width: 20px;
        height: 20px;
    }
    .dark-mode .kopke
    {
        color: rgb(0, 0, 0);
        border-radius: 100%;
        z-index: -1;
        width: 60px;
        height: 40px;
    }

    #btn
    {
        position: absolute;
        display: inline-block;    
        height: 30px;
        width: 30px;
        background-color: transparent;
        border-style: none;
    }
    /* header kodları başlangıcı*/

    h2
    {
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
    }
    .logo
    {
        margin-left: 300px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700 ;  
    }
    .kopke
    {
        position: absolute;
        margin: -18px 0 0 -1020px ;
        height: 60px;
        width: 80px;
        z-index: -1;
    }

    /*.ay
    {
        margin-top: -5px;
        height: 35px;
        width: auto;
        position: absolute;
        display: inline-block;
        margin-left: 0px;
    }
    */
    .home
    {
        margin-left: 30px;
    }
    .about
    {
        margin-left: 30px;
    }
    .servis
    {
        margin-left: 30px;
    }
    .pages
    {
        margin-left: 30px;
    }
    .contact
    {
        margin-left: 30px;
    }
    .ozalders{
        margin-left: 30px;
    }
    .saglik{
        margin-left: 30px;
    }
    .Organizasyon{
        margin-left: 30px;
    } 
    .diger{
        margin-left: 30px;
    }  
    .arkafoto{
        position: absolute;
        display: inline-block;
        margin: -50px 0 0 -1400px ;
        z-index: -2;
    }   
    .search
    {
        position: absolute;
        display: inline-block;
        margin: 20px 0 0 100px ;
    }
    .ara
    {
        position: absolute;
        display: inline-block;
        border-radius: 30px 0 0 30px;
        padding: 3px 10px;
        color: black;
        border: 2px solid #eee;
        height: 50px;
        width: 170px;
        margin: 320px 0 0 -755px ;
    }
    .arabuton
    {   
        position: absolute;
        display: inline-block;
        border-radius: 0 30px 30px 0;
        padding: 1px 10px;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        background: #000000;
        border: #000000 4px solid;
        margin: 320px 0 0 -600px ;
        height: 50px;
        width: 100px;   
    }
    .home:hover
    {
        color:#f54748;
    }
    .about:hover
    {
        color:#f54748;
    }
    .servis:hover
    {
        color:#f54748;
    }
    .contact:hover
    {
        color:#f54748;
    }
    .pages:hover
    {
        color:#f54748;
    }
    .ozalders:hover
    {
        color:#f54748;
    }
    .saglik:hover
    {
        color:#f54748;
    }
    .Organizasyon:hover
    {
        color:#f54748;
    } 
    .diger:hover
    {
        color:#f54748;
    }

    /*header kodları bitişi*/

    /*içerik baişlangıcı*/
    /*buttonların başlangıcı*/
    #counter1
    {
        display: inline-block;    
        color: #eee;
        font-weight: 800;
        margin: 20px 0px 0 30px;
    }
    #counter2
    {
        color: #eee;
        font-weight: 800;
        margin: 20px 0px 0 30px;
    }
    #counter3
    {
        color: #eee;
        font-weight: 800;
        margin: 20px 0px 0 30px;
    }
    #counter4
    {
        color: #eee;
        font-weight: 800;
        margin: 20px 0px 0 30px;
    }
    .icerik>div
    {
        position: absolute;
        width: 200px;
        height: 100px;
        border-radius: 10px;

    }
    .icerik1
    {
        margin: 340px 900px 300px 340px;
        background-color: purple;
        
    }
    .icerik2
    {
        margin: 340px 800px 300px 550px;
        background-color: green;
    }
    .icerik3
    {
        margin: 450px 800px 300px 340px;
        background-color: rgb(180, 20, 47);
    }
    .icerik4
    {
        margin: 450px 800px 300px 550px;
        background-color: rgb(109, 70, 225);
    }
    .icerikyazı
    {
        color: #eee;
        font-weight: 400;
        margin: 10px 0px 0 30px;  
    }
    .artı
    {
        display: inline-block;
        color: #eee;
        font-weight: 800;
        margin: 10px 0px 0 30px;
    }
    .icerik1:hover
    {
        background-color: red;
    }
    .icerik2:hover
    {
        background-color: red;
    }
    .icerik3:hover
    {
        background-color: red;
    }
    .icerik4:hover
    {
        background-color: red;
    }
    /*butonların bitişi*/
    /*resimler başlangıç*/
    /*.pati
    {
        position: absolute;
        margin: 150px 0px 0px 620px;
        height: 50px;
        width: 100px;
    }
    */
    .ares
    {
        position: absolute;
        display: inline-block;
        margin: 160px 0px 0px 900px;
        height: 50vh;
        width: 30vw;
    }
    .ares:hover
    {
        height: 55vh;
        width: 35vw;
    }
    /*resimler bitişi*/
    /*yazı ve başlık*/
    h1
    {
        position: absolute;
        font-family: Arial, Helvetica, sans-serif;
        margin: 150px 400px 0px 340px;   
    }
    .yazı
    {
        position: absolute;
        margin: 240px 400px 0px 550px;
    }
    .yazı1{
        position: absolute;
        display: inline-block;
    margin: 200px 0px 0 520px;
    }

    /* yazı ve başlık bitişi*/

    /*header bitişi*/

    /*Alt div başlangıcı*/
    .altdiv
    {
        position: absolute;
        margin-top: 780px;
        background-color: rgb(225, 225, 225);
        height: 920px;
        width: 1518px;
        margin-left: -8px;
        box-shadow: 5px 3px 6px 10px rgb(219, 218, 218);
        
    }
    /*başlık ve resmi*/
    .sonbaslık
    {
        font-size: 40px;
        position: absolute;
        margin: 90px 0px 0px 550px;    
    }
    .pati1
    {
        position: absolute;
        margin: 20px 0px 0px 670px;
        height: 50px;
        width: 100px;
    }
    /*başlık ve resim bitişi*/
    /*reklam kısmı ve yazlıları*/
    /*ilk reklam kısmı ve yazıları*/
    .altdiv>div
    {
        position: absolute;
        height: 300px;
        width: 200px;
    }
    .altdiv>div
    {
        border-radius: 10px;
    }
    .reklam1:hover
    {
        background-color:aqua;
    }
    .reklam2:hover
    {
        background-color:aqua;
    }
    .reklam3:hover
    {
        background-color:aqua;
    }
    .reklam4:hover
    {
        background-color:aqua;
    }
    .reklam5:hover
    {
        background-color:aqua;
    }
    .reklam6:hover
    {
        background-color:aqua;
    }
    .reklam7:hover
    {
        background-color:aqua;
    }
    .reklam8:hover
    {
        background-color:aqua;
    }

    #o 
    {
        color: red;
        font-size: 38px;
    }
    /*ilk reklam kısmı ve yazıları bitişi*/
    /*ikinci reklam kısmı ve yazıları*/
    .reklam1
    {
        background-color: #fff;
        margin: 250px 0px 0px 300px;    
    }
    .foto2
    {
        height: 200px;
        width: 200px;
    }
    .reklam2
    {
        background-color: #fff;
        margin: 250px 0px 0px 550px;    
    }
    .foto3
    {
        height: 200px;
        width: 200px;
    }

    .reklam3
    {
        background-color: #fff;
        margin: 250px 0px 0px 800px;    
    }
    .reklam4
    {
        background-color: #fff;
            margin: 250px 0px 0px 1050px;    
        }
        .foto4
        {
            height: 200px;
            width: 200px;
        }
        .reklam5
        {
            background-color: #fff;
        margin: 600px 0px 0px 300px;    
    }.reklam6
    {
        background-color: #fff;
        margin: 600px 0px 0px 550px;    
    }
    .reklam7
    {
        background-color: #fff;
        margin: 600px 0px 0px 800px;    
    }
    .reklam8
    {
        background-color: #fff;
        margin: 600px 0px 0px 1050px;    
    }
    /*üçüncü reklam kısmı ve yazıları bitişi*/
    /*alt div bitişi*/
